<h1 class="h1">
  <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Adam.", "I am Creative.", "I Love to Develop." ]'>
    <span class="wrap"></span>
  </a>
</h1>
<p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu gravida erat, eu faucibus tellus. Fusce ultricies et metus eget vulputate. Pellentesque nec urna eu ligula aliquet lobortis. Duis vitae fringilla odio, sed posuere dolor. Quisque vitae dui velit. Nullam posuere ultrices molestie. Mauris mattis metus nec felis bibendum, ac egestas massa vestibulum. Maecenas sed diam ut velit condimentum tincidunt vitae ut leo. Mauris felis est, ultrices sed ornare id, gravida at ligula. Curabitur felis velit, tincidunt ut erat et, aliquet dapibus massa. Duis convallis accumsan metus, maximus venenatis nunc molestie id. Duis dui dui, gravida sit amet ipsum eget, mattis sagittis erat. Fusce gravida lobortis leo vitae tincidunt. Sed ut eros at nisl vestibulum gravida sit amet at turpis. </p>







