<h1 class="h1">
  <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Adam.", "I am Creative.", "I Love to Develop." ]'>
    
  </a>
</h1>
<p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu gravida erat, eu faucibus tellus. Fusce ultricies et metus eget vulputate. Pellentesque nec urna eu ligula aliquet lobortis. Duis vitae fringilla odio, sed posuere dolor. Quisque vitae dui velit. Nullam posuere ultrices molestie. Mauris mattis metus nec felis bibendum, ac egestas massa vestibulum. Maecenas sed diam ut velit condimentum tincidunt vitae ut leo. Mauris felis est, ultrices sed ornare id, gravida at ligula. Curabitur felis velit, tincidunt ut erat et, aliquet dapibus massa. Duis convallis accumsan metus, maximus venenatis nunc molestie id. Duis dui dui, gravida sit amet ipsum eget, mattis sagittis erat. Fusce gravida lobortis leo vitae tincidunt. Sed ut eros at nisl vestibulum gravida sit amet at turpis. Sed imperdiet leo ac lacinia porta. Ut facilisis ante ante, eget facilisis tellus cursus cursus. Vivamus velit orci, elementum a urna vel, feugiat varius urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi nisi elit, tincidunt ac enim sed, pharetra egestas magna. Quisque dictum ipsum mauris, ac porta dui volutpat a. Vivamus id eros orci. Nulla sapien libero, rhoncus et felis nec, volutpat faucibus ante. Phasellus tempus faucibus convallis. Integer pretium justo at neque laoreet, ut mattis elit iaculis. Sed tortor sem, vulputate et nibh et, tincidunt consequat lectus.

In vehicula ipsum suscipit, accumsan nisi id, tincidunt orci. Vivamus sodales feugiat faucibus. Nulla ornare consequat augue cursus suscipit. Sed finibus nisl quis consectetur iaculis. Morbi commodo feugiat ante, sit amet finibus arcu laoreet vel. Pellentesque lacinia est quis magna tempus porttitor. In nisl est, molestie at aliquam id, lacinia eu quam. Vivamus vulputate ac lorem non eleifend. Donec a orci ultricies, scelerisque purus in, tincidunt magna. Aenean neque odio, venenatis id quam ac, tempor hendrerit mi. Ut quis mollis ligula. Vestibulum luctus eros vel dui ornare, eu tincidunt purus consectetur. Integer in placerat lectus.  </p>







