/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500);
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900|Open+Sans:400,300);

footer {
    background-image: url(webenlance.in/bootsnipp/images/footer_sli2.png);
    background-repeat: repeat;
}
.footer_top {
    min-height:100px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 0) 56%, rgba(247, 247, 247, 1) 57%, rgba(38, 12, 77, 1) 57%, rgba(38, 12, 77, 0.97) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(56%, rgba(247, 247, 247, 0)), color-stop(57%, rgba(247, 247, 247, 1)), color-stop(57%, rgba(38, 12, 77, 1)), color-stop(100%, rgba(38, 12, 77, 0.97)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 0) 56%, rgba(247, 247, 247, 1) 57%, rgba(38, 12, 77, 1) 57%, rgba(38, 12, 77, 0.97) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 0) 56%, rgba(247, 247, 247, 1) 57%, rgba(38, 12, 77, 1) 57%, rgba(38, 12, 77, 0.97) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 0) 56%, rgba(247, 247, 247, 1) 57%, rgba(38, 12, 77, 1) 57%, rgba(38, 12, 77, 0.97) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 0) 56%, rgba(247, 247, 247, 1) 57%, rgba(38, 12, 77, 1) 57%, rgba(38, 12, 77, 0.97) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#260c4d', GradientType=1 );
}
.bagcblue {
    background-color:#260c4d;
    background-image: url(http://webenlance.in/bootsnipp/images/footer_sli.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left:65px;
    padding-top:15px;
    color:#FFF;
    font-family: 'Lato', sans-serif;
    min-height:131px;
}
.bagcblue p {
    font-size:13px;
}
.bagcgrey {
    background-image: url(http://webenlance.in/bootsnipp/images/footer_sli2.png);
    background-repeat: repeat;
    min-height:131px;
    background-color:#FFF;
}
.methodh4 {
    float:left;
    width:103px;
    margin-top:50px;
}
.bagcgrey h4 {
    font-family: 'Lato', sans-serif;
    font-size:20px;
    font-weight:700;
}
.img-responsive2 {
    width:350px;
    margin-top:68px;
    float:left;
}
.heading6 {
    font-size:18px;
    font-family: 'Lato', sans-serif;
    text-transform:uppercase;
}
.footer_bottom_col {
    background-color:#373542;
    min-height:388px;
    padding-top:30px;
}
.heading_footer {
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    color:#FFF;
    text-transform:uppercase;
    font-size:16px;
}
.heading_footer span {
    display:block;
    background-image: url(http://webenlance.in/bootsnipp/images/display.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 8px;
    line-height: 22px;
}
.footerul {
    list-style-type:none;
    float:left;
    margin-left:0px;
    padding-left:0px;
    margin-top:15px;
    font-family: 'Lato', sans-serif;
}
.footerul li a {
    color:#c9c9c9;
    font-size:13px;
    line-height:20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.footerul p {
    color:#c9c9c9;
    font-size:13px;
}
.footerul p a {
    color:#fff !important;
    font-weight:700 !important;
}

 @media (max-width:768px) {
    
/*footer*/
.footer_top {
background-color:#FFF !important;
background-image:none;
}
.tabmob {
background-image:none;
}
.bagcgrey {
background-image:none;
background-color:#f7f7f7;
padding:25px 15px 15px 15px;
}
.methodh4 {
width:100%;
text-align:center;
margin-top:0px;
}
.img-responsive2 {
 margin-top: 5px;
 margin-bottom:10px;
width:90%;
display:table;
margin-left:5%;
margin-right:5%;
}
.bagcblue {
background-image:none;
padding:10px !important;
}
 .footerul {
 float:none;
width:100%;
}
}
.socmatpbo { margin-top:25px; float:left !important; font-size:20px; margin-top:60px; }
.social li {
    float: left;
}
.social li a i {
    background-color: #eeeeee;
    border-radius: 50%;
    height: 37px;
    line-height: 30px;
    margin: 0 8px;
    padding: 5px;
    text-align: center;
    width: 37px;
}
.social {
    float: right;
    list-style-type: none;
    margin: 5px 0 0;
    padding: 0;
}
.socmatpbo {
    float: left !important;
    font-size: 20px;
    margin-top: 60px;
}



 body {
    overflow-x: hidden;
     background: #FFF;
 }

/* Toggle Styles */

@mixin background-tile {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 1.5em 1.25em;
    font-family: 'FontAwesome';
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper.toggled {
    padding-left: 250px;
}



#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #A0A0A0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:#FFF;
    font-family: 'FontAwesome';
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    background: #FFF;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;


}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: #000;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;

}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background: none;
}

.sidebar-nav > .sidebar-brand a {
    color: #000;
    background: none;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #000;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.new-med-form {
    @include background-tile;
    h1 {
        margin-top: 0;
    }

    #category_id {
        margin-bottom: 10px;
    }
}
.med-info {
    @include background-tile;
    font-family: 'FontAwesome';
    .med-name {
        margin-top: 0;
        font-size: 2em;
        font-family: 'FontAwesome';
    }

    .med-price {
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 10px;
        span {
            font-size: 0.80em;
        }   
    }
    .med-desc {
        font-size: 1.05em;
        line-height: 1.5;
        margin-bottom: 15px;
        margin-top: 15px;
        font-family: 'FontAwesome';
    }

}
.med {
    height: 150px;
    width: 180px;
    margin-bottom: 10px;
    @include background-tile;
    font-family: 'FontAwesome';

   
}

.h1 {
    color: #000;
    font-family: 'FontAwesome';
    
}
.p {
    color: #000;
    font-family: 'FontAwesome';
    font-size: 1.05em;
    
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background: #A0A0A0;
    box-shadow: none;
}

.button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-bottom:10px;
    margin-right:10px;
}

.copyright {
    width:100%;
    float:left;
    min-height:40px;   
    padding-top:12px;
    text-align:center;
    font-family: 'FontAwesome';
}

